/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*ROOTS*/
:root
{
    /*Fonts*/
    --body-font1: 'Poppins', sans-serif;
    --body-font2: 'Ubuntu', sans-serif;

    /*HSL*/
    --first-color: hsl(190, 100%, 50%);
    --first-color-grad: radial-gradient(ellipse at bottom, hsl(194, 100%, 50%) 20%, hsl(180, 1%, 71%)100%);
    --second-color: hsl(43, 100%, 50%);
    --light-first-color: hsl(190, 100%, 90%);
    --black: hsl(0, 0%, 0%);
    --lildark: hsl(0, 1%, 22%);
    --lilwhite:hsl(0, 0%, 71%);
    --white: hsl(0, 0%, 100%);
}

/*Main*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    position: auto;
}
body
{
    display:inherit;
    overflow-x: hidden;
}

/* Scroll up button */
#scroll-up {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    z-index: 10;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  #progress-scroll {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: var(--second-color);
  }

/*Navbar*/
nav
{
    position: fixed;
    width: 100%;
    z-index: 9;
    padding: 0 10px 0 10px;
    font-family: var(--body-font2);
    transition: all 0.35s ease-in-out;
}
nav.sticky
{
    padding: 0 10px 0 10px;
    background: var(--black);
    opacity: 90%;
    box-shadow: 0 0 10px var(--black), 0 0 40px var(--black), 0 0 80px var(--black);
}
nav .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* scale others */
ul:hover li
{
    transition: all 0.3s ease-in-out;
    scale: 85%;
}
ul li:hover
{
    scale: 100%;
}

/*Logo*/
nav .logo img
{
    height: auto;
    width: auto;
}

nav .logo
{
    overflow-y: hidden;
    padding-top: 0px;
    height: 60px;
    cursor: pointer;
}

/*menus*/
.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a
{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.15rem;
    overflow: hidden;
    font-weight: 500;
    padding: 15px 0px;
    position: relative;
    margin-left: 4.5rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 3px;
    background: var(--first-color);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 3.5px;
    background: var(--first-color);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a:hover
{
    color: var(--first-color);
}
.navbar .menu li a:hover:before
{
    right: 0;
}
.navbar .menu li a:hover:after
{
    left: 0;
}


/*scrolling*/
html
{
    scroll-behavior: smooth;
}

/*custom scroll bar*/
::-webkit-scrollbar
{
    width: 0.25rem;
    height: 0rem;
}
::-webkit-scrollbar-track
{
    background: var(--lilwhite);
}
::-webkit-scrollbar-thumb
{
    background: var(--lildark);
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--first-color);
}

/*On banner text*/
.content
{
    padding-top: 15%;
    text-align: center;
    font-family: var(--body-font1);
    z-index: 9;
}

.content h1
{
    font-size: 140px;
    color: transparent;
    font-weight: 600;
    font-family: var(--body-font2);
    transition: all 0.4s ease;
    -webkit-text-stroke: 2px var(--white);
    background: url(/assets/gallery/backtxt.png);
    -webkit-background-clip: text;
    background-position: 0 25px;
    animation: back 80s linear infinite;
}
.content h1:hover
{
    color: var(--white);
}
@keyframes back
{
    100%{
        background-position: 2000px 0;
    }
}

/* Signup/signin */
.body:hover .container
{
    transition: all 0.3s ease-in;
    filter: blur(5px);
}
.body .container:hover
{
    filter: none;
}
.container
{
    position: fixed;
    width: 800px;
    height: 500px;
    margin: 100px 0 100px 300px;
    z-index: 10;
}
.blueBg
{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/gallery/kindred.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}
.blueBg .box
{
    position: relative;
    width: 50;
    height: 100%;
    display: flex;
    margin: 0 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blueBg .box .signh2
{
    color: white;
    font-size: 33px;
    font-family: var(--body-font1);
    font-weight: 700;
    margin-bottom: 10px;
}
.blueBg .box .signm
{
    background:transparent;
    border: 3px solid white;
    border-radius: 20px;
    letter-spacing: 1px;
    font-family: var(--body-font2);
    font-weight: 600;
    color: white;
    transition: all 0.2s ease-in;
}
.blueBg .box .signm:hover
{
    letter-spacing: 2px;
    background: var(--first-color);
    box-shadow: 0 5px 45px rgba(0,0,0,.35);
}
.blueBg .box button
{
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border: none;
    color: black;
    font-family: var(--body-font1);
    font-size: 16px;
    font-weight: 500;
}
.formBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 0.5px solid var(--second-color);
    border-radius: 20px;
    background: white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBx.active
{
    left: 50%;
}
.formBx .form
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBx .signinForm
{
    transition-delay: 0.25s;
}
.formBx.active .signinForm
{
    left: -100%;
    transition-delay: 0s;
}
.formBx .signupForm
{
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .signupForm
{
    left: 0;
    transition-delay: 0.25s;
}
.formBx .form h3
{
    text-align: center;
    font-family: var(--body-font1);
    color: var(--second-color);
    padding-bottom: 20px;
    font-size: 40px;
}
.formBx .form form
{
   width: 100%;
   display: black;
   margin-bottom: 20px;
   font-weight: 500;
   font-family: var(--body-font1);
}
.formBx .form form input
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: var(--body-font2);
    border: 1px solid grey;
}
.formBx .form form input[type="submit"]
{
    background: var(--first-color);
    border: none;
    color: white;
    max-width: 100px;
    border-radius: 20px;
    margin: 20px 105px;
    font-family: var(--body-font2);
    cursor: pointer;
    box-shadow: 0 5px 45px rgba(0,0,0,.35);
    transition: all 0.2s ease;
}
.formBx .form form input[type="submit"]:active
{
    transform: scale(0.95);
}
.formBx .form form .forgot
{
    color: rgb(110, 110, 110);
    margin-top: -15px;
    margin-left: 10px;
    text-decoration: none;
    position: absolute;
}
.formBx .form form .forgot:hover
{
    color:#4D77FF;
}
.s3-btn-close
{
	position:absolute;
	top: 0;
	right: 0;
	width: 40px;
    height: 40px;
	background:var(--first-color);
	border:solid 2px var(--white);
	color:var(--white);
	cursor:pointer;
	font-size: 30px;
	border-radius: 50px;
    transition: all 0.2s ease-in;
	z-index: 11;
	box-shadow:  0 14px 28px rgba(0,0,0,0.25);
}
.s3-btn-close:hover
{
	background: var(--white);
    color: var(--second-color);
    border:solid 2px var(--first-color);
}
.s3-btn
{
	background:var(--lildark);
	border-radius:10px;
    border: 1px solid black;
	width:120px;
	height:35px;
	cursor:pointer;
    position: inherit;
	color: var(--second-color);
	margin: 0;
	transition: all 0.3s ease-in;
    font-size: 15px;
	box-shadow:  0 14px 50px rgba(0,0,0,1);
    z-index: 5;
  }

.s3-btn:hover {
	background: var(--first-color-rev);
	color: white;
	border: 2px solid var(--first-color);
    border-radius: 30px;
}
.s3-btn:active
{
    transform: scale(0.85);
}

@media (max-width: 991px)
{
    .container
    {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .container .blueBg
    {
        top: 0;
        height: 100%;
    }
    .formBx
    {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .blueBg .box
    {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin
    {
        top: 0;
    }
    .formBx.active
    {
        left: 0;
        top: 150px;
    }
}
@media (max-width: 425px)
{
    .container
    {
        max-width: 300px;
    }
    .formBx .form form input[type="submit"]
    {
        margin-left: 40px;   
    }
}

/* On banner button*/
.content a
{
    position: relative;
    display: inline-block;
    padding: 15px 70px;
    margin-top: 30px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    border: 2px solid var(--white);
    border-radius: 50px;
    overflow: hidden;
    transition: 0.2s;
}

.content a:hover
{
    letter-spacing: 7px;
    color: var(--white);
    background: var(--first-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--first-color), 0 0 40px var(--first-color), 0 0 80px var(--first-color);
}

/*Main page banner*/
.showpg .max-width
{
    width: 100%;
}
.bannervid
{
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    bottom: 0%;
    z-index: -1;
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: var(--second-color);
}

/* that golden line */
.showpg .end
{
    background: var(--second-color);
    height: 0.6rem;
    width: 25.5rem;
    bottom: -0.3rem;
    left: 0;
    position: absolute;
}
.showpg .end::after
{
    border-right: 0.6rem solid transparent;
    right: -0.6rem;
    border-top: 0.6rem solid var(--second-color);
    content: "";
    display: block;
    position: absolute;
}

/* What is MOBA page */
.wimp .max-width
{
    width: 100%;
    margin-top: 23%;
}
.wimp
{
    background: transparent;
}
.wimp img {
    position: absolute;
    top: 100%;
    left: -6%;
    z-index: -1;
    width: 110%;
    height: 100%;
    object-fit:cover;
}
.wimp .mcontainer .mcard
{
    position: relative;
    width: 96%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    color: transparent;
    margin: 30px;
    box-shadow: 10px 10px 30px var(--lilwhite);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
}
.wimp .mcontainer .mcard:hover
{
    box-shadow: 20px 20px 50px var(--lilwhite);
    backdrop-filter: blur(10px);
}
.wimp .what
{
    color: var(--first-color);
    font-family: var(--body-font2);
    font-size: 2.35rem;
    position: relative;
    padding-left: 35%;
    font-weight: 800;
    padding-top: 30px;
    text-transform: uppercase;
    font-style: italic;
}
.wimp .what::after
{
    content: "Multiplayer Online Battle Arena";
    font-family: var(--body-font1);
    font-style: 600;
    font-size: 20px;
    position: absolute;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    transform: translateX(-425px);
    color: var(--second-color);
}
.wimp .ans
{
    font-family: var(--body-font1);
    color: var(--lildark);
    line-height: 20px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 55px;
    padding-left: 100px;
    padding-right: 100px;
}
.wimp .diff
{
    font-family: var(--body-font1);
    color: var(--lildark);
    line-height: 20px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Others text */
.others .max-width
{
    width: 100%;
    margin-top: 5%;
}
.others .title
{
    font-family: var(--body-font2);
    font-size: 2.35rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    float: left;
    padding-left: 10%;
}
.others .content-wrapper .others-page
{
    font-family: var(--body-font1);
    font-size: 1.3rem;
    text-decoration: none;
    font-style: italic;
    color: var(--first-color);
    font-weight: 600;
    float: right;
    padding-right: 10%;
    transition:all 0.2s ease;
}
.others .content-wrapper .others-page:hover
{
    letter-spacing: 1.2px;
}

/* SwiperCSS */
.swiper
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 315px;
    height: 400px;
    box-shadow: 0 15px 60px rgba(0,0,0,0.2);
    background: var(--white);
    filter: blur(4px);
    margin-bottom: 50px;
    transition: all 0.5s ease;
}
.swiper-slide-active
{
    filter: blur(0px);
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
}

/* swiper headings */
.swiper .content
{
    text-transform: uppercase;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 700;
}
.swiper .content h3
{
    color: var(--black);
    font-size: 20px;
    font-family: var(--body-font1);
}
.swiper .uil
{
    color: var(--black);
    position: relative;
    
}
.swiper .content p
{
    padding-bottom: 10px;
    color: var(--first-color);
    font-size: 18px;
    font-family: var(--body-font2);
}
.swiper .content a
{
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    color: var(--first-color);
    border: 2px solid var(--light-first-color);
    border-radius: 50px;
    transition:all 0.2s ease;
}
.swiper .content a:hover
{
    color: var(--white);
    letter-spacing: none;
    font-size: 15px;
}

/* Swiper odd & even cards */
.swiper .detailodd img
{
    display: flex;
    margin-left: 120px;
    position: relative;
    margin: 30px 60px 15px 60px;
    width: 200px;
    height: 100px;
    border-radius: 40% 0%;
    box-shadow: 0 5px 50px var(--lildark);
    border: 2px solid var(--second-color);
}
.swiper .detaileven img
{
    display: flex;
    margin-left: 120px;
    position: relative;
    margin: 30px 60px 15px 60px;
    width: 200px;
    height: 100px;
    border-radius: 0% 40%;
    box-shadow: 0 5px 50px var(--lildark);
    border: 2px solid var(--second-color);
}

/* Timeline */

.timeline
{
    max-width: 1800px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.timeline .timeline-background
{
    margin-top: 50px;
    left: 12.5%;
    z-index: -1;
    font-weight: 700;
    font-family: var(--body-font1);
    padding-top: 0px;
    position: absolute;
    font-size: 350px;
    -webkit-text-stroke: 2px var(--first-color);
    color: transparent;
    font-style: italic;
}
.timeline .champ
{
    font-family: var(--body-font2);
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    position: flex;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
}
.process-wrapper
{
	margin:auto;
	max-width:1280px;
}

#progress-bar-container
{
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul
{
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:2;
	position:absolute;
	width:100%;
    font-family: var(--body-font1);
	margin-top:-39.2px
}

#progress-bar-container li:before
{
	content:"";
	display:block;
	margin:auto;
    background: var(--white);
	width:30px;
	height:30px;
    border-radius: 0px;
    transform: rotate(45deg);
	border:solid 2px var(--lilwhite);
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before
{
       	 
	background: var(--first-color);
    box-shadow:  0 0 1px var(--white), 0 0 2px var(--first-color), 0 0 10px var(--first-color);
}


#progress-bar-container li {
    list-style:none;
	float:left;
	width:16.6%;
	text-align:center;
	color: var(--lilwhite);
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height: 60px;
	position: relative;
}

#progress-bar-container li .step-inner {
    position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
    color: var(--lildark);
    letter-spacing: 1px;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background: transparent;
    backdrop-filter: blur;
	margin:auto;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
    z-index: 9;
}

#progress-bar-container li:hover:after {
	background:transparent;
}

#progress-bar-container li.active:after {
	background:transparent;
}

#progress-bar-container #line {
	width:83.5%;
	margin:auto;
	background: var(--lilwhite);
	height:1px;
	position:absolute;
	left:8%;
	top:-8px;
	z-index:1;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
    padding-top: -20px;
	margin: auto;
	background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid var(--white);
    box-shadow:10px 10px 30px var(--lilwhite);
	border-radius: 20px;
    transition: all 0.5s ease;
}
#progress-content-section:hover {
    backdrop-filter: blur(10px);
    box-shadow:20px 20px 50px var(--lilwhite);
}

#progress-content-section .section-content {
	padding:20px 40px;
	text-align:center;
}

#progress-content-section .section-content .champ-content {
	font-size:35px;
	text-transform:uppercase;
    font-family: var(--body-font1);
	color: var(--second-color);
    padding-bottom: 10px;
	letter-spacing:1px;
}

#progress-content-section .section-content .champp {
	font-size:18.5px;
	line-height:1.8em;
    font-family: var(--body-font1);
	color:var(--black);
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}


@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* Footer */
footer
{
    margin-top: auto;
    margin-bottom: 0px;
    max-width: 100%;
    position: relative;
}
footer .ftr-img
{
    position: relative;
    max-width: 100%;
}
/* icons */
footer .ftr-icons
{
    z-index: 9;
    width: 100%;
    padding: 10px;
}
footer a
{
    text-align: center;
    display: inline-block;
    margin-left: 16%;
    z-index: 9;
    text-decoration: none;
    font-size: 4em;
    padding-top: 40px;
    cursor: pointer;
    color: var(--white);
    transition: all 0.5s ease;
}
footer .insta:hover
{
    color: rgb(231, 79, 105);
    
}
footer .fb:hover
{
    color: rgb(4, 110, 229);
}
footer .yt:hover
{
    color: rgb(253, 0, 0);
}
footer .twit:hover
{
    color: rgb(26, 140, 216);
}
/* footer icon */
footer .ftr-moba-logo
{
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: -50px;
    padding-left: 27.5%;
    filter: contrast(10%);
}
/* footer text */
footer p
{
    color: grey;
    font-family: var(--body-font1);
    font-size: 20px;
    font-weight: 100;
    display: flex;
    position: relative;
    z-index: 9;
    text-align: center;
    margin: 0 335px 10px 335px;
}


.reveal
{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all linear;
}
  
.reveal.active
{
    transform: translateY(0);
    opacity: 1;
}