/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*ROOTS*/
:root
{
    /*Fonts*/
    --body-font1: 'Poppins', sans-serif;
    --body-font2: 'Ubuntu', sans-serif;

    /*HSL*/
    --first-color: hsl(190, 100%, 50%);
    --second-color: hsl(43, 100%, 50%);
    --light-first-color: hsl(190, 100%, 90%);
    --black: hsl(0, 0%, 0%);
    --lildark: hsl(0, 1%, 22%);
    --lilwhite:hsl(0, 0%, 71%);
    --white: hsl(0, 0%, 100%);

}

/*Main*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Navbar*/
nav
{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 10px 0 10px;
    font-family: var(--body-font2);
    transition: all 0.35s ease-in-out;
}
nav.sticky
{
    padding: 0 10px 0 10px;
    background: var(--black);
    opacity: 90%;
    box-shadow: 0 0 10px var(--black), 0 0 40px var(--black), 0 0 80px var(--black);
}
nav .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
nav .logo img
{
    height: 0px;
    width: auto;
}

nav .logo
{
    padding-top: 0px;
    height: 60px;
    cursor: pointer;
}

/*menus*/
.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a
{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.15rem;
    overflow: hidden;
    font-weight: 500;
    padding: 15px 0px;
    position: relative;
    margin-left: 4.5rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 3px;
    background: var(--first-color);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 3.5px;
    background: var(--first-color);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .menu li a:hover
{
    color: var(--first-color);
}
.navbar .menu li a:hover:before
{
    right: 0;
}
.navbar .menu li a:hover:after
{
    left: 0;
}

/*buttons*/
.btn
{
    width: 120px;
    height: 40px;
    background: var(--lildark);
    border: 2px solid var(--lildark);
    border-color: transparent;
    margin-right: 15px;
    font-family: var(--body-font2);
    font-weight: 600;
    color: var(--second-color);
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover
{
    background: var(--first-color);
    border-radius: 30px;
    color: var(--white);
}

/*scrolling*/
html
{
    scroll-behavior: smooth;
}

/*custom scroll bar*/
::-webkit-scrollbar
{
    width: 0.25rem;
    height: 0rem;
}
::-webkit-scrollbar-track
{
    background: var(--lilwhite);
}
::-webkit-scrollbar-thumb
{
    background: var(--lildark);
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--first-color);
}

/*On banner text*/
.content
{
    padding-top: 15%;
    text-align: center;
    font-family: var(--body-font1);
    z-index: 999;
}

.content h1
{
    font-size: 140px;
    color: var(--white);
    font-weight: 600;
    font-family: var(--body-font2);
    transition: all 0.4s ease;
}

.content h1:hover
{
    -webkit-text-stroke: 2px var(--white);
    color: transparent;
}

/* On banner button*/
.content a
{
    position: relative;
    display: inline-block;
    padding: 15px 70px;
    margin-top: 30px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    border: 2px solid var(--white);
    border-radius: 50px;
    overflow: hidden;
    transition: 0.2s;
}

.content a:hover
{
    letter-spacing: 7px;
    color: var(--white);
    background: var(--first-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--first-color), 0 0 40px var(--first-color), 0 0 80px var(--first-color);
}

/*Main page banner*/
.showpg .max-width
{
    width: 100%;
}
.bannervid
{
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    bottom: 0%;
    z-index: -1;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
    border-bottom-color: var(--second-color);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 5rem),90rem 100%,0 100%);
}

/* that golden line */
.showpg .corner
{
    border-right: 8px solid var(--second-color);
    right: 2.5rem;
    transform: skew(-49.15deg);
    bottom: 0;
    height: 5rem;
    position: absolute;
    width: 5rem;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
}
.showpg .end
{
    background: var(--second-color);
    height: 0.6rem;
    width: 21.5rem;
    bottom: -0.3rem;
    left: 0;
    position: absolute;
}
.showpg .end::after
{
    border-right: 0.6rem solid transparent;
    right: -0.6rem;
    border-top: 0.6rem solid var(--second-color);
    content: "";
    display: block;
    position: absolute;
}

/* What is MOBA page */
.wimp .max-width
{
    width: 100%;
    margin-top: 23%;
}
.wimp
{
    background: transparent;
}
.wimp img {
    position: absolute;
    top: 100%;
    left: -6%;
    z-index: -2;
    width: 110%;
    height: 100%;
    object-fit:cover;
}
.wimp .mcontainer .mcard
{
    position: relative;
    width: 96%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px var(--lilwhite);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.wimp .what
{
    color: var(--first-color);
    font-family: var(--body-font2);
    font-size: 2.35rem;
    position: relative;
    padding-left: 35%;
    font-weight: 800;
    padding-top: 10px;
    text-transform: uppercase;
    font-style: italic;
}
.wimp .what::after
{
    content: "Multiplayer Online Battle Arena";
    font-family: var(--body-font1);
    font-style: 600;
    font-size: 20px;
    position: absolute;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    transform: translateX(-425px);
    color: var(--second-color);
}
.wimp .ans
{
    font-family: var(--body-font1);
    color: var(--lildark);
    line-height: 20px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 45px;
    padding-left: 20px;
}
.wimp .diff
{
    font-family: var(--body-font1);
    color: var(--lildark);
    line-height: 20px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 15px;
}

/* Others text */
.others .max-width
{
    width: 100%;
    margin-top: 5%;
}
.others .title
{
    font-family: var(--body-font2);
    font-size: 2.35rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    float: left;
    padding-left: 10%;
}
.others .content-wrapper .others-page
{
    font-family: var(--body-font1);
    font-size: 1.3rem;
    text-decoration: none;
    font-style: italic;
    color: var(--first-color);
    font-weight: 600;
    float: right;
    padding-right: 10%;
    transition:all 0.2s ease;
}
.others .content-wrapper .others-page:hover
{
    letter-spacing: 1.2px;
}

/* SwiperCSS */
.swiper
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 315px;
    height: 400px;
    box-shadow: 0 15px 60px rgba(0,0,0,0.2);
    background: var(--white);
    filter: blur(4px);
    margin-bottom: 50px;
}
.swiper-slide-active
{
    filter: blur(0px);
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
}

/* swiper headings */
.swiper .content
{
    text-transform: uppercase;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 700;
}
.swiper .content h3
{
    color: var(--black);
    font-size: 20px;
    font-family: var(--body-font1);
}
.swiper .uil
{
    color: var(--black);
    position: relative;
    
}
.swiper .content p
{
    padding-bottom: 10px;
    color: var(--first-color);
    font-size: 18px;
    font-family: var(--body-font2);
}
.swiper .content a
{
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    color: var(--first-color);
    border: 2px solid var(--light-first-color);
    border-radius: 50px;
    transition:all 0.2s ease;
}
.swiper .content a:hover
{
    color: var(--white);
    letter-spacing: none;
    font-size: 15px;
}

/* Swiper odd & even cards */
.swiper .detailodd img
{
    display: flex;
    margin-left: 120px;
    position: relative;
    margin: 30px 60px 15px 60px;
    width: 200px;
    height: 100px;
    border-radius: 40% 0%;
    box-shadow: 0 5px 50px var(--lildark);
    border: 2px solid var(--second-color);
}
.swiper .detaileven img
{
    display: flex;
    margin-left: 120px;
    position: relative;
    margin: 30px 60px 15px 60px;
    width: 200px;
    height: 100px;
    border-radius: 0% 40%;
    box-shadow: 0 5px 50px var(--lildark);
    border: 2px solid var(--second-color);
}

/* Timeline */
.timeline
{
    margin: 150px auto;
    width: 80vw;
}
input
{
    display: none;
    position: absolute;
}
.head
{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 60px;
    animation: trans 0.7s linear forwards;
}
ul.tnav
{
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}
ul.tnav li
{
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    color: var(--lilwhite);
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-style: 700;
    transition: all 0.3s ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
}
ul.tnav li::before
{
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid var(--lilwhite);
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: all 0.3s ease;
}
ul.tnav li:hover::before
{
    border: 2px solid var(--white);
    background: var(--lildark);
}
ul.tnav li .inner
{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bolder;
}
ul.tnav li.active,
ul.tnav li:hover
{
    color: var(--lildark);
}
ul.tnav li::after
{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: var(--lildark);
    border-radius: 50%;
    margin: auto;
    border: 7px solid var(--white);
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px var(--black);
}
ul.tnav li:hover::after,
ul.tnav li.active::after
{
    background: blue;
}
/* the line */
.line
{
    width: 76%;
    margin: auto;
    background: var(--lilwhite);
    height: 7px;
    position: absolute;
    left: 11.5%;
    top: 52px;
    z-index: 1;
    border-radius: 50px;
}
.line span
{
    content: '';
    width: 2%;
    height: 100%;
    background-image: linear-gradient(to right, #a29bfe 0%, #ff7675 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all 0.8s ease;
}
/* content in it */
.tcontent
{
    position: relative;
    display: flex;
    justify-content: center;
    animation: anim 0.7s linear forwards;
    flex-direction: column;
}
.tcontent section
{
    width: 70%;
    margin: auto;
    background-image: linear-gradient(to right, #a29bfe 0%, #ff7675 100%);
    border-radius: 10px;
    padding: 30px;
    color: var(--white);
}
.tcontent section span
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.tcontent section p
{
    padding: 30px 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
}